header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

/* ============ CTA ============ */
.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* ============ HEADER SOCIALS ============ */
/* ============ HEADER SOCIALS ============ */
.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem; /* Increased gap for better spacing */
  position: absolute;
  left: 1rem; /* Adjusted position */
  bottom: 3rem;
}

.header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

/* ============ ME ============ */
.me {
  background: linear-gradient(var(--color-primary), transparent);
  width: 30%; /* Adjusted width for better visibility */
  max-width: 22rem;
  height: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 2rem; /* Adjusted margin */
  border-radius: 50% 50% 0 0;
  overflow: hidden;
  padding: 1.5rem; /* Adjusted padding */
}

.me img {
  width: 100%;
  height: auto;
}

/* ============ SCROLL DOWN ============ */
.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

/* ============== MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .header__container {
    padding: 2rem 1rem; /* Reduced padding */
  }

  .me {
    width: 35%; /* Adjusted width */
    margin-top: 1rem; /* Reduced top margin */
  }

  .header__socials {
    left: 0.5rem; /* Adjusted position for social icons */
    gap: 0.5rem; /* Reduced gap */
  }
}

/* ============== MEDIA QUERIES (SMALL DEVICES) */
@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }
  .header__socials,
  .scroll__down {
    display: none;
  }

  .header__container {
    padding: 4rem 1rem; /* Adjust padding for smaller screens */
  }

  .me {
    width: 70%; /* Increase the width on smaller screens */
    margin-top: 2rem; /* Adjust top margin */
  }
}
