.experience__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.experience__container > div {
  background: rgba(0, 0, 0, 0.3); /* Semi-transparent black background */
  backdrop-filter: blur(5px); /* Blur effect */
  padding: 1.5rem;
  border: 2px solid;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.experience__container > div:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.experience__container > div > h3 {
  color: var(--color-primary);
  margin-bottom: 2rem;
  text-align: center;
}

.experience__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
}

.experience__details {
  display: flex;
  gap: 0.8rem;
}

.experience__details-icon {
  margin-top: 6px;
  color: var(--color-primary);
}

/* ============== MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {
  .experience__container {
    grid-template-columns: 1fr;
  }

  .experience__container > div {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }

  .experience__container {
    padding: 1rem;
  }
}

/* ============== MEDIA QUERIES (SMALL DEVICES) */
@media screen and (max-width: 600px) {
  .experience__container {
    gap: 1rem;
  }

  .experience__container > div {
    width: 100%;
    padding: 1rem 2rem;
  }
}
